@import url(degiskenler.scss);

.footer{
    @include myFlex;
    width: 100%;
    font-size: 13px;
    height: 120px;
    gap: 10px;
    color:#656D8C;
    margin-top: 40px;
    &-note{
        margin-left: 387px;
        margin-top: 30px;
        color: #656D8C;
        font-size: 12px;
        letter-spacing: .4px;
    }
    &_logo{
        background-image: url(../img/icons8-github-64.png);
        height: 30px;
        width: 30px;
        background-size: cover;
    }
    &_links{
        @include myFlex;
        gap: 20px;
       &-link{
        text-decoration: none;
        color:#656D8C;
        letter-spacing: .4px;
        &:hover{
            text-decoration: underline;
            transition: .3s;
            color: #0969DA;
        }
       }
    }
}
